body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #4f3bff !important;
}

.navbar .navbar-collapse {
  display: flex !important;
  justify-content: center;
}

.navbar ul li {
  color: #000;
  margin: 0 20px;
}

.navbar .dropdown-menu { 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
  margin-top:0px !important; 
  width:100% !important; 
} 

.navbar ul .show {
  display: flex;
}

.navbar .dropdown-menu a {
  text-align: center;
}

.navbar .dropdown { 
  position:static !important; 
} 

.card img {
  max-height: 200px;
  min-height: 200px;
}

.container .row {
  margin-top: 20px;
}

form {
  padding: 50px;
}